@charset "utf-8";

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main { 
    height: 100vh;
    background-color: #1a1d2a;
    display: grid;
    place-items: center;
}


main h1 {
    font-size: 60px;
    letter-spacing: 0.4px;
    color: #fff;
}